@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

q{
	font-style: italic;
	quotes: none;
}

footer{
	margin-top: 1em;
	text-align: right;
}

table{
	border-collapse: collapse;
	margin: 1em auto;
}

th,
td{
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
	padding: 0 0.5em 0 0;
}

ol[xml|lang],
blockquote[xml|lang],
[epub:type~="z3998:signature"]{
	font-style: italic;
}

abbr.era{
	font-variant: all-small-caps;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: left;
	text-indent: 0;
}

[epub|type~="se:letter.dateline"]{
	font-style: italic;
	font-variant: none;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: left;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
	font-variant: small-caps;
}

/* custom styles */
.newspaper-title{
	text-align: center;
	font-style: italic;
}

.newspaper-title > header > p{
	font-style: normal;
}

[epub|type~="dedication"] [epub:type~="z3998:signature"],
[epub|type~="afterword"] [epub:type~="z3998:signature"]{
	font-style: normal;
	font-variant: small-caps;
}

#chapter-1-2 blockquote:last-of-type{
	border: 1px solid;
	margin-left: auto;
	margin-right: auto;
	width: 14em;
	padding: 1em;
	font-variant: small-caps;
	text-align: center;
}

#chapter-1-4 table:first-of-type{
	width: 100%;
	max-width: 35em;
}

#chapter-1-4 th + td{
	font-weight: 100;
	font-size: 3.5em;
	padding: 0;
}

#chapter-2-8 blockquote:first-of-type > header > p:last-child{
	text-align: center;
	font-variant: small-caps;
}

#chapter-2-8 blockquote:first-of-type > header > p:last-child img{
	height: 0.75em;
	vertical-align: baseline;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}
