@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	text-align: right;
}

.signature,
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	text-align: left;
	margin: 0.5em 0;
}

[epub|type~="se:letter.dateline"]{
	text-align: left;
	font-style: italic;
}
